* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.profile-picture {
    width: 200px;
    border-radius: 100%;
    user-select: none;
    transition: all ease 0.4s;
}

.profile-picture:hover {
    width: 210px;
}
