* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #18181B;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.profile-picture {
    width: 200px;
    border-radius: 100%;
    user-select: none;
    margin-bottom: 50px;
    transition: all ease 0.4s;
}

.profile-picture:hover {
    width: 210px;
}

.info-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    width: 70%;
    height: 50px;
    background-color: black;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
/*  box-shdow: 0 0 10px rgba(255, 255, 255, 0.2); */
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
}

.card:hover {
    width: 75%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
/*    box-shaow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    box-sadow: 5px 5px 20px rgba(0, 0, 0, 0.5); */
}

.card-logo {
    display: flex;
    border-radius: 25px;
    width: 45px;
    margin-left: 8px;
}

.title {
    width: 50px;
    background-color: white;
}