* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.profile-picture {
    width: 200px;
    border-radius: 100%;
    user-select: none;
    margin-bottom: 50px;
    transition: all ease 0.4s;
}

.profile-picture:hover {
    width: 210px;
}

.info-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card {
    width: 70%;
    height: 150px;
    background-color: black;
    margin-bottom: 25px;
}
