@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #18181B;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.profile-picture {
    width: 150px;
    border-radius: 100%;
    user-select: none;
    margin-bottom: 30px;
    transition: all ease 0.4s;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.profile-picture:hover {
    width: 170px;
}

.info-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.card {
    width: 300px;
    height: 50px;
    background-color: black;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
/*  box-shdow: 0 0 10px rgba(255, 255, 255, 0.2); */
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: transform .4s;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.card:hover .logo {
    width: 40px;
    transition: all ease 0.9s;
    transform: translateX(60px);
}
/*    box-shaow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    box-sadow: 5px 5px 20px rgba(0, 0, 0, 0.1) */
.logo {
    width: 35px;
    position: relative;
    transition: transform 0.3s ease;
}

.title {
    color: white;
    margin-left: 70px;
}

.first-text {
    font-size: 45px;
    font-family: poppins;
    color: white;
    margin-left: 30px;
    font-weight: bold;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
}

.second-text {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 100px;
}

.third-text {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: poppins;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}